.okay {
    color: rgba(rgb(7, 109, 198), green, blue, alpha);
    color: rgba(rgb(5, 85, 155), green, blue, alpha);
    color: rgba(rgb(226, 158, 11), green, blue, alpha);
    color: rgba(rgb(223, 139, 49), green, blue, alpha);
    color: rgba(rgb(233, 127, 14), green, blue, alpha);
    color: rgba(rgb(10, 174, 163), green, blue, alpha);
    color:    #ea3372;
    color: #F97878,
}